* {
  margin: 0;
  padding: 0;
  text-decoration: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root {
  --rich-black: #121826;
  --ash-gray: #9DA3AE;
  --light-gray: #E5E7EB;
  --gunmetal: #212936;
  --alice-blue: #DEE9FC;
  --soft-pink: #FBE5E6;
  --light-cream: #FCEED8;
  --silver-gray: #D2D5DA;
}


body {
  max-width: 40em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--rich-black);
  background-image: url('resources/Background_image.svg');
  background-size: cover;
  background-repeat: no-repeat;
  
  margin: 0 auto;
}


header {
  font-family: "Outfit", sans-serif;
  margin: 1.75rem 1.3rem 0 1.3rem;
  text-align: center;
}


header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-gray);
}


p {
  font-size: 1rem;
  color: var(--ash-gray);
  margin-top: 0.8125rem;
  font-weight: none;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 1.8rem;
}


.the-card {
  background-color: var(--gunmetal);
  border-radius: .75rem;
  overflow: hidden;
}


.wrap-emoji {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.wrap-emoji span {
  font-size: 0.8rem;
}


.hand-emoji {
  background-color: var(--light-cream);
}


.net-emoji {
  background-color: var(--alice-blue);
}


.chat-emoji {
  background-color: var(--soft-pink);
}


.card-content {
  margin: 1.25rem;
  font-family: "Outfit", sans-serif;
}


.card-content h2 {
  color: var(--light-gray);
  font-size: 1rem;
  margin-top: 1.2rem;
}


.card-content p {
  font-weight: 400;
  font-size: 0.9rem;
}


.card-image {
  width: 100%;
  margin-top: 1.25rem;
  border-radius: 0.8rem;
}


@media (min-width: 50em) {
header h1 {
  font-size: 2.5rem;
}


header p {
  font-size: 1.1rem;
}


.card-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 3rem;
  margin: 2rem auto;
  padding: 0;
  justify-content: center;
}


.card-grid > :last-child {
  grid-column: 1 / -1;
  max-width: 46%;
  margin-left: auto;
  margin-right: auto;
}
}


@media (min-width: 64em){
body {
  max-width: 75em;
  background-size: cover;
  background-position: center;
  justify-content: center;
}


header h1 {
  font-size: 3rem;
}
  
  
header p {
  font-size: 1.5rem;
}
  
  
.card-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  gap: 3rem;
  margin: 2rem 5rem;
  
}


.card-grid > :last-child {
  grid-column: auto;
  max-width: none;
  margin: 0;
}
}
