
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}


:root {
  --rich-black: #121826;
  --ash-gray: #9DA3AE;
  --light-gray: #E5E7EB;
  --gunmetal: #212936;
  --alice-blue: #DEE9FC;
  --soft-pink: #FBE5E6;
  --light-cream: #FCEED8;
  --silver-gray: #D2D5DA;
}


body {
  max-width: 40em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--rich-black);
  background-image: url('resources/Background_image.svg');
  background-size: cover;
  background-repeat: no-repeat;
  
  margin: 0 auto;
}


header {
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  margin: 1.75rem 1.3rem 0 1.3rem;
  text-align: center;
}


header h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--light-gray);
  
  width: 13rem;
  align-self: center;
}


header p {
  font-size: 0.8rem;
  color: var(--ash-gray);
  margin-top: 0.8125rem;
  font-weight: normal;
}


.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  padding: 1.5rem;
}


.the-card {
  flex-basis: 18.75rem;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 17.5rem;
  padding: 1.5rem;
  background-color: var(--gunmetal);
  border-radius: .75rem;
  overflow: hidden;
}


.wrap-emoji {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}


.wrap-emoji span {
  font-size: 1.2rem;
}


.hand-emoji {
  background-color: var(--light-cream);
}


.net-emoji {
  background-color: var(--alice-blue);
}


.chat-emoji {
  background-color: var(--soft-pink);
}


.card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Outfit", sans-serif;
}


.card-content h2 {
  color: var(--light-gray);
  font-size: 1.2rem;
  margin-top: 1.2rem;
}


.card-content p {
  font-weight: 400;
  font-size: 1rem;
  color: var(--ash-gray);
}


.card-image {
  width: 100%;
  height: auto;
  border-radius: 0.8rem;
  object-fit: cover;
}


/* Styles For Tablet Devices */
@media (min-width: 50em) {
body {
  max-width: none;
  padding: 0 4rem;
}


header h1 {
  font-size: 2.5rem;
  width: 25rem;
}


header p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3rem;
}


.the-card {
  flex: 1 1 17.5rem;
  border-radius: 1rem;
} 


.card-grid > :last-child {
  flex: 1 1 100%;
  max-width: 45%;
}


.card-content h2 {
  font-size: 1.4rem;
}


.card-content p {
  font-size: 1.0625rem;
}
}


/* Styles For Desktop Devices */
@media (min-width: 80em) {
body {
  max-width: none;
}


header p {
  font-size: 1rem;
}


.card-grid {
  flex-wrap: nowrap;
}


.card-grid > :last-child {
  flex: 1 1 17.5rem;
  max-width: none;
  margin: 0;
}


.card-content h2 {
  font-size: 1.4rem;
}


.card-content p {
  font-size: 1.0625rem;
}
}
